* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    font-size: 10px;
    background: url("./img/pelotaGraducacio.png");
}
h1 {
    font-family: 'Square Peg', cursive;
}
.textoCabecera , .tabla , .txt{
    color: #fd7702;
}

.tabla , .mismoEquipo , .puntos , footer , .cabecera {
    /* background-color: #002347; */
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: #000a13;
}
.explicacio  {
    color: #ff5003;
}
.equipo:hover , .pincha:hover , .mismoEquipo {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
.queGira:hover  {
    transform: rotateZ(-10deg);
}
.submit:hover {
    transform: scale(0.8);
}
.byJC:hover {
    transform: scale(1.6);
}
.blanco {
    color: rgba(255,255,255, 0.7);
}
.pelota {
    background-color: aliceblue;
}
@keyframes spinner3 {
to {
transform: rotate(270deg);
}
}
@keyframes swing {
    15% {
    transform: translateX(5px);
    }
    30% {
    transform: translateX(-5px);
    }
    50% {
    transform: translateX(3px);
    }
    65% {
    transform: translateX(-3px);
    }
    80% {
    transform: translateX(2px);
    }
    100% {
    transform: translateX(0);
    }
}




/* Color Palette
#fff
#000a13
#002347
#036
#003f7d
#ff8e00
#fd7702
#ff5003 */
